hr {
    width: 50%; 
    border: 1px solid #333;
    margin: 30px auto;
}

body {
    font-family: Times New Roman;
    line-height: 1.5;
    text-align: justify;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    background: url('Brown Aesthetic Wallpaper Laptop.gif') no-repeat center center fixed;
    background-size: cover; 
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #FFFFFF;
    border-bottom: #201E21 3px solid;
}

#nav-header {
    padding-top: 10px;
    min-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

#nav-header.hide {
    transform: translateY(-100%);
}

header a {
    color: #fff;
    text-decoration: strong;
    text-transform: uppercase;
    font-size: 17px;
}
#word-swap {
  display: inline-block;
  color: #ff1818; /* accent color */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#word-swap.fade-out {
  opacity: 0;
}

#about {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px; 
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

#about img {
    max-width: 30%; 
    border-radius: 50%; 
    float: right;
    margin-left: 20px; 
    margin-bottom: 20px; 
    object-fit: cover;
}

#about p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 5px;
}

.showcase {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.showcase h1 {
    margin: 0;
    font-size: 40px;
    line-height: 1.5;
}

section.blog {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    background-color: #EB9C75;
}

article {
    margin-bottom: 20px;
}

article h2 {
    color: #333;
}

video {
    max-width: 25%;
    height: 30%;
}

#home {
    text-align: justify;
    text-align-last: center;
}

#home h1 {
    text-align: center;
}

#home p {
    text-align: justify;
    font-size: 14pt;
    text-align-last: center;
}

footer {
    text-align: justify;
    padding: 20px;
    margin-top: 20px;
    background-color: #000000;
    color: #FFFFFF;
}
